@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html,body{
  background-color: #1E1E1E;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 10px;
  font-family: "Poppins", serif;
}

/* responsive */

@media (width < 1220px){
  html,body{
      font-size: 9.5px;
  }
}
@media (width < 1120px){
  html,body{
      font-size: 9px;
  }
}
@media (width < 1020px){
  html,body{
      font-size: 8.5px;
  }
}
@media (width < 920px){
  html,body{
      font-size: 8px;
  }
}
@media (width < 820px){
  html,body{
      font-size: 7.5px;
  }
}
@media (width < 720px){
  html,body{
      font-size: 7px;
  }
}
@media (width < 620px){
  html,body{
      font-size: 6.5px;
  }
}
@media (width < 520px){
  html,body{
      font-size: 6px;
  }
}
@media (width < 420px){
  html,body{
      font-size: 5.5px;
  }
}
@media (width < 320px){
  html,body{
      font-size: 5px;
  }
}